{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>总览</title>
    {% include 'index/head.html' %}
    <link rel="stylesheet" type="text/css" href={% static 'index/css/index.css' %}/>
</head>
<body>
{% include 'index/nav.html' %}
<div class="container">
			<h1>总览</h1>
			<!--今日营收-->
			<div class="revenueToday">
				<div class="title">今日营收</div>
				<ul class="rev-show clearfix">
					<li>
						<span>订单金额：</span>
						<span id="order_amount"></span>
					</li>
					<li>
						<span>下单客户数：</span>
						<span id="ordered_cust_count"></span>
					</li>
					<li>
						<span>订单数量：</span>
						<span id="order_count"></span>
					</li>
					<li>
						<span>新增客户数：</span>
						<span id="newreg_count"></span>
					</li>
				</ul>
				<!--折线图-->
				<div id="revenueToday"></div>
			</div>
			<!--仪表盘百分比-->
			<div class="gauge-p">
				<div class="title">销售额</div>
				<div class="data-show clearfix">
					<!--仪表盘ratio-->
					<div class="chart-left" id="sale"></div>
					<div class="con-right">
						<div class="current-month">
							本月
							<span id="sale_order_amount_month" class="gauge-datas"></span>
						</div>
						<ul class="than clearfix">
							<li>上月<span id="sale_order_amount_lastmonth"></span></li>
							<li>上月环比<span id="sale_month_ratio"></span></li>
							<li>本年<span id="sale_order_amount_year"></span></li>
							<li>同比去年<span id="sale_year_ratio"></span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="gauge-p">
				<div class="title">新增客户数</div>
				<div class="data-show clearfix">
					<!--仪表盘-->
					<div class="chart-left" id="clientAdd"></div>
					<div class="con-right">
						<div class="current-month">
							本月
							<span id="store_reg_month" class="gauge-datas"></span>
						</div>
						<ul class="than clearfix">
							<li>上月<span id="store_reg_lastmonth"></span></li>
							<li>上月环比<span id="month_ratio"></span></li>
							<li>本年<span id="store_reg_year"></span></li>
							<li>同比去年<span id="year_ratio"></span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="gauge-p">
				<div class="title">下单客户数</div>
				<div class="data-show clearfix">
					<!--仪表盘-->
					<div class="chart-left" id="orderClientCounts"></div>
					<div class="con-right">
						<div class="current-month">
							本月
							<span id="orderClient_odstore_count_month" class="gauge-datas"></span>
						</div>
						<ul class="than clearfix">
							<li>上月<span id="orderClient_odstore_count_lastmonth"></span></li>
							<li>上月环比<span id="orderClient_month_ratio"></span></li>
							<li>本年<span id="orderClient_odstore_count_year"></span></li>
							<li>同比去年<span id="orderClient_year_ratio"></span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="gauge-p">
				<div class="title">订单数量</div>
				<div class="data-show clearfix">
					<!--仪表盘-->
					<div class="chart-left" id="orderCounts"></div>
					<div class="con-right">
						<div class="current-month">
							本月
							<span id="orderCounts_order_month" class="gauge-datas"></span>
						</div>
						<ul class="than clearfix">
							<li>上月<span id="orderCounts_order_lastmonth"></span></li>
							<li>上月环比<span id="orderCounts_month_ratio"></span></li>
							<li>本年<span id="orderCounts_order_year"></span></li>
							<li>同比去年<span id="orderCounts_year_ratio"></span></li>
						</ul>
					</div>
				</div>
			</div>
			<!--本月渠道销售额-->
			<div class="channelSaleroom">
				<div class="title">本月各渠道销售额</div>
				<!--柱状图-->
				<div id="channelOrder"></div>
			</div>
			<!--销售趋势-->
			<div class="salesTrend">
				<div class="title">销售趋势</div>
				<div id="salesTrend"></div>
			</div>
			<!--本月商品分类销售额-->
			<div class="categorySaleroom">
				<div class="title">本月商品分类销售额</div>
				<!--环饼-->
				<div id="categoryPie"></div>
			</div>
			<!--本月区域销售额-->
			<div class="categorySaleroom">
				<div class="title">本月区域销售额</div>
				<!--横向bar-->
				<div id="saleBar"></div>
			</div>
			<!--本月B2B销售人员TOP3-->
			<div class="salesRank">
				<div class="title">本月B2B销售人员TOP3<a href="" class="more">更多</a></div>
				<!--横向bar-->
				<div id="salesRank"></div>
			</div>
		</div>
</body>
<script src={% static 'index/js/ajax.js' %} type="text/javascript" charset="utf-8"></script>
<script src={% static 'index/js/index.js' %} type="text/javascript" charset="utf-8"></script>
</html>