{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" type="text/css" href={% static 'index/css/reset.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'index/css/login.css' %}>
    <script src={% static 'index/js/rem.js' %} type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="logo">
        <img alt="禾中优供" src={% static 'index/images/logo.jpg' %}>
    </div>
    <div class="box">
        <form method="post" action={% url 'uauth' %}>
            {% csrf_token %}
    {#    <form method="post" action=# class="box">#}
            <input type="text" class="info username" name="username" autocomplete="off" placeholder="请输入账号">
            <input type="password" class="info pwd" name="password" autocomplete="off" placeholder="请输入密码">
            <div class="forget">
                <a href="#">忘记密码？</a>
            </div>
            <input type="submit" class="login" value="登录">
        </form>
        <div class="error"></div>
        {% comment %}<div class="register">
            <span href="" class="titl">没有账号？</span>
            <a class="reg" href={% url 'register' %}>注册</a>
        </div>{% endcomment %}
    </div>
</body>
</html>