a{
    color: #9D9D9D;
}
@media screen and (max-width:1000px){
    body{
        font-size: 0.8rem;
    }
    .logo{
        text-align: center;
        padding: 2rem 0;
    }
    .logo img{
        width: 10rem;
    }
    .box{
        width: 80%;
        margin: 0 auto;
    }
    .box input.info {
        font-size: 0.8rem;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0.3rem;
        height: 1.6rem;
        line-height: 1.6rem;
        text-indent: 0.5rem;
        border: 1px solid #666;
        margin: 0.4rem auto;
    }
    .box .forget{
        text-align: right;
        margin: 0.2rem auto;
        width: 100%;
    }
    .box input.login{
        display: block;
        margin: 0 auto;
        width: 10rem;
        height: 1.6rem;
        background-color: #00CC66;
        border-radius: 0.8rem;
        font-size: 0.8rem;
        letter-spacing: 0.2rem;
        border: none;
        color: #fff;
    }
    a{
        font-size: 0.6rem;
    }
}



@media screen and (min-width:1000px){
    body{
        font-size: 16px;
    }
    .logo{
        text-align: center;
        margin-top: 200px;
    }
    .logo img{
        width: 200px;
        padding-bottom: 20px;
    }
    .box{
        width: 380px;
        margin: 0 auto;
    }
    .box input{
        display: block;
    }
    .box input.info {
            width: 100%;
            box-sizing: border-box;
            border-radius: 5px;
            height: 42px;
            line-height: 26px;
            text-indent: 6px;
            border: 1px solid #666;
            margin: 8px auto;
    }
    .box .forget{
        text-align: right;
        width: 100%;
    }
    .box .forget a:hover {
        text-decoration: underline;
        color: #777;
    }
    .box input.login{
        display: block;
        margin: 10px auto;
        width: 160px;
        height: 42px;
        background-color: #00CC66;
        border-radius: 6px;
        border: none;
        font-size: 18px;
        color: #fff;
    }
}