body{
    margin: 0;
    font-size: 16px;
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
}
h1,p{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.fle{
	display: flex;
	display: -webkit-box;
}
/*公共*/
.box{
	width: 100%;
	padding: 0 0.6rem 50px;
	box-sizing: border-box;
}
.box .titles{
	font-size: 12px;
	border-left: 0.2rem solid #333;
	padding-left: 0.2rem;
	margin: 0.2rem 0;
	overflow: hidden;
	height: 0.8rem;
    line-height: 0.8rem;
}
.box .titles .right{
	padding-right: 0.7rem;
    padding-left: 0.24rem;
	background: url(../images/select.png) no-repeat center right;
	background-size: 1rem 1rem;
	height: 100%;
}
.box .titles .right.time1{
	border-radius: 0.4rem;
	background-color: #BADAF8;
	
}




body {
	font-family: "微软雅黑";
	padding-bottom: 50px;
	color: #333;
}
.navList{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 49px;
	border-top: 1px solid #E1E1E1;
	background-color: #FFFFFF;
	z-index: 10;
}
.navList li{
	float: left;
	width: 33.3%;
	height: 100%;
	text-align: center;
}
.navList li a{
	font-size: 12px;
	display: block;
	width: 2rem;
	color: #333;
	margin: 0 auto;
	height: 100%;
}
.navList a.active{
	color: #78C82F;
}
.navList li span{
	padding: 4px 0 2px;
    font-size: 22px;
    display: block;
}
.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.container {
	padding: 5px;
	font-size: 14px;
	overflow: hidden;
}

.container h1 {
	font-size: 14px;
	text-align: center;
	padding-bottom: 10px;
}

.container .title {
	padding-left: 5px;
	margin-bottom: 4px;
	border-left: 3px solid #2E2E2E;
	line-height: 14px;
}
.container .title a.more{
	float: right;
	color: #214CC5;
    font-size: 12px;
    padding: 1px 2px;
}

