{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for key,value in datadic.items  %}

    <table border="1" cellspacing="0">
    <p>{{ key }}</p>
{#    <p>{{ value }}</p>#}
        {% for i in value %}
        <tr>
            {% for k,v in i.items %}
                <td>{{ v }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table><br>
{% endfor %}
<button onclick="gets()">确认提交</button>
</body>
<script src={% static 'dist/jquery.min.js' %} type="text/javascript" charset="utf-8"></script>
<script src={% static 'yoback/js/excelcheck.js' %} type="text/javascript" charset="utf-8"></script>
</html>